#headercontainer
{
    display: flex;
}

#headerbar 
{
    padding: 0.5rem 2rem;
    display: block;
    width: 100%;

    #titlepage {
        //font-size: 2rem;
        display: inline-block;
        text-transform: capitalize;

        .rs-btn
        {
            background: #F1F1F1 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            top:0.2rem;
        }
    }

    #infocon {
        display: inline-block;
        float: right;
        display: flex;
        align-items: center;

        span {
            margin-right: 1.33rem;
        }

        .img-noti {
            padding-right: 1rem;
            border-right: 0.5px solid #ececec;
        }

        #usernametitle {
            font-size: 1.2rem;
            vertical-align: bottom;
        }

        #avatarcon {
            float: right;
            display: inline-block;
        }
    }
}

#logocon
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008c84;
    // padding: 40% 5%;
    // height: 5rem;
    width: 4.2rem;

    img 
    {
        -webkit-transform: scale(0.8, 0.8);
        width: 100%;
    }
}