.ant-tabs {

    height: 100%;
}

.ant-tabs-nav
{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.ant-tabs-tab-active
{
    border-top-left-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
}

.ant-tabs-nav-wrap
{
    padding-left: 2rem;
    padding-top: 1.3rem;
}

.ant-tabs-tab
{
    border:none!important;
    font-size: 1rem;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #00C040;
    font-weight: 500;
}
.ant-tabs-tab:hover,.ant-tabs-tab-btn:focus {
    color: #00C040;
}

.ant-tabs-content-holder
{
    padding-left: 2rem;
}

.notcalledbtn
{
    background: #00C040 0% 0% no-repeat padding-box!important;
    opacity: 1;
    color:#fff!important;
}
.calledbtn
{
    background: #707070 0% 0% no-repeat padding-box!important;
    opacity: 1;
    color:#fff!important;
}

.hasborder
{
    border: 0.5px solid rgba(112, 112, 112, 0.3);
}

.titlesection
{
    background: #0AB2A8 0% 0% no-repeat padding-box;
    //padding: 1rem 1rem 1rem 0rem;
    color:#fff;
    font-size: 1rem;

    .rs-btn-default {
        color: #575757;
        background: transparent;
        margin-left: 0;
    }

    img {
        width: 0.8rem;
    }

    .rs-btn-icon {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem !important;
        //margin-left: 1rem;
    }
}

.tabpanel
{
    .row
    {
        margin-left: 0;
        margin-right: 0;
    }

    .col-lg-6,.col-md-6
    {
        padding-left: 0;
        padding-right: 0;
    }

    .col-lg-8,.col-md-8
    {
        padding-right: 0;
    }
}

.bodysection
{
    font-size: 1rem;

    .row
    {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .label
    {
        margin-right: 0.5rem;
    }

    .value
    {
        font-weight: 500;
    }
}

.ant-form-item-label {
    text-align: left;
}

#formbusinessresult
{
    padding-left: 15px;

    .ant-form-item
    {
        margin-bottom: 0;
    }
}

#formcallresult
{
    padding-left: 15px;

    .ant-form-item
    {
        margin-bottom: 0;
    }
}