#tasklisttitle
{
    background: #0AB2A8 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.2rem;
    text-align: left;
}

.tasklistcard
{
    padding: 1rem 1rem 1rem 1rem;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.called
{
    color:#707070
}

.notcalled
{
    color:#00C040
}